### Imports and AddressFrame init

In [1]:
import pandas as pd
from address_frame import AddressFrame
df = pd.read_csv('../data/test_adds.csv')
adf = AddressFrame(df, 'address', 'city', 'state', 'zipcode')

### Cleaning and Geocoding
> Since cleaning is not required (but is recommended) cleaning and geocoding can be done individually or together

##### Individually

In [ ]:
adf.clean_streets().clean_cities().clean_zips() # optional
adf.geocode(geo_report=True) # set geo_report=True to print out short report after geocoding (could go to logs eventually)

##### Together

In [3]:
adf.clean_and_geocode(geo_report=True) # can also access geo_report here

Geocoded dataset in 0.32s.

            Total Addresses: 5
            State Filtered Addresses: 0
            Geo Results: 5
            Geo Result %: 100.00%
            Geo Results w/ State Filter Correction: 100.00%

### Pandas methods
> All Pandas methods are accessible via adf.frame.

In [3]:
adf.frame.head()

,address_id,address,city,state,zipcode,cleaned_add_field,cleaned_city_field,cleaned_zip_field,geo,lat,lon
0,0,5201 Southwest Ave,St. Louis,MO,63139,5201 SOUTHWEST AVE,SAINT LOUIS,63139,"(Favazza's on the Hill, 5201, Southwest Avenue...",38.611517,-90.273913
1,1,2225 Macklind Ave Suite #10,St. Louis,MO,63110-1234,2225 MACKLIND AVE,SAINT LOUIS,63110,"(Anthonino's Taverna, 2225, Macklind Avenue, T...",38.614366,-90.277930
2,2,1934 Macklind Ave,Saint Louis,MO,63110,1934 MACKLIND AVE,SAINT LOUIS,63110,"(1934, Macklind Avenue, The Hill, Gratiot, Sai...",38.617635,-90.276862
3,3,5256 Wilson Ave Apt 3,St. Louis,MO,63110-1048,5256 WILSON AVE,SAINT LOUIS,63110,"(5256, Wilson Avenue, The Hill, Gratiot, Saint...",38.615758,-90.274098
4,4,5046 Shaw Ave,St Louis,MO,63110,5046 SHAW AVE,SAINT LOUIS,63110,"(Guidos Pizzeria and Tapas, 5046, Shaw Avenue,...",38.617596,-90.270427

In [6]:
adf.frame.shape

(5, 5)

In [9]:
adf.frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   address_id  5 non-null      int64
 1   address     5 non-null      object
 2   city        5 non-null      object
 3   state       5 non-null      object
 4   zipcode     5 non-null      object
dtypes: int64(1), object(4)
memory usage: 328.0+ bytes

In [11]:
adf.frame.nunique()

address_id    5
address       5
city          3
state         1
zipcode       4
dtype: int64